:root {
	font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
	line-height: 1.5;
	font-weight: 400;

	color-scheme: light dark;
	color: rgba(255, 255, 255, 0.87);
	background-color: hsl(0, 0%, 14%);

	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	-webkit-text-size-adjust: 100%;
}

body {
	margin: 0;
	padding: 0;
}

ul,
ol {
	padding: 0;
	margin: 0;
}

@media (prefers-color-scheme: light) {
	:root {
		color: #213547;
		background-color: #ffffff;
	}
	a:hover {
		color: #747bff;
	}
	button {
		background-color: #f9f9f9;
	}
}

.page-container {
	background-color: #fff;
	border-radius: 4px;
	min-height: 100%;
	padding: 10px;
}

/* 单号省略 */
.ellipsis-word-1 {
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

/* 多行省略 */
.ellipsis-word-2 {
	overflow: hidden;
	text-overflow: ellipsis;
	display: -webkit-box;
	-webkit-line-clamp: 2; /* 两行 */
	-webkit-box-orient: vertical;
}

.ellipsis-word-3 {
	overflow: hidden;
	text-overflow: ellipsis;
	display: -webkit-box;
	-webkit-line-clamp: 3; /* 两行 */
	-webkit-box-orient: vertical;
}
